
<h2>Profile</h2>

<form *ngIf="user" (ngSubmit)="updateUser()">
	<p>User id: {{ user.id }}</p>
	<p>Username: {{ user.username }}</p>
	<p>Password: <input type="password" name="password" [(ngModel)]="user.password"></p>
	<p>Is admin <input type="checkbox" name="isAdmin" [(ngModel)]="user.admin" disabled></p>

	<input type="submit" value="Save">
</form>
