<h2>Login</h2>

<form (ngSubmit)="loginUser()">
	<input type="text" name="username" [(ngModel)]="username">
	<input type="password" name="password" [(ngModel)]="password">

	<input type="submit" value="Login">
</form>
