<h2>High Scores</h2>

<h3>Your top</h3>
<table>
	<thead>
		<tr>
			<th>Place</th>
			<th>Id</th>
			<th>Score</th>
			<th>Completed</th>
		</tr>
	</thead>
	<tbody>
		<tr *ngFor="let game of topUser; let idx = index">
			<td>{{ idx + 1 }}</td>
			<td>{{ game.id }}</td>
			<td>{{ game.score }}</td>
			<td><input type="checkbox" [(ngModel)]="game.completed" disabled></td>
		</tr>
	</tbody>
</table>

<h3>All top</h3>
<table>
	<thead>
		<tr>
			<th>Place</th>
			<th>Id</th>
			<th>Score</th>
			<th>Completed</th>
		</tr>
	</thead>
	<tbody>
		<tr *ngFor="let game of topAll; let idx = index">
			<td>{{ idx + 1 }}</td>
			<td>{{ game.id }}</td>
			<td>{{ game.score }}</td>
			<td><input type="checkbox" [(ngModel)]="game.completed" disabled></td>
		</tr>
	</tbody>
</table>
