<h2>Game</h2>

<button (click)="startGame()">Start game</button>
<button (click)="endGame()">End game</button>

<div *ngIf="board">
	<p>Score: {{ score }}</p>
	<app-board [board]="board" (onSwapped)="swapPieces($event)"></app-board>
</div>
