
<h1>Match3</h1>

<nav>
	<a routerLink="/register">Register</a>
	<a routerLink="/login">Login</a>
	<a routerLink="/logout">Logout</a>
	<a routerLink="/profile">Profile</a>
	<a routerLink="/game">New game</a>
	<a routerLink="/highScores">High scores</a>
</nav>

<router-outlet></router-outlet>
