<div class="board">
	<div class="board-row" *ngFor="let row of board; index as rowi">
		<button
			class="piece"
			[class.selected]="isSelected(rowi, coli)"
			[class.highlighted]="isHighlighted(rowi, coli)"
			*ngFor="let piece of row; index as coli"
			(mouseenter)="pieceHovered(rowi, coli)"
			(click)="piecePressed(rowi, coli)">{{ piece }}</button>
	</div>
</div>
