
.board {
	display: flex;
	flex-direction: column;
}

.board .board-row {
	display: flex;
}

.board .board-row .piece {
	width: 50px;
	height: 50px;
}

.board .board-row .piece.selected {
	background-color: green;
}

.board .piece.highlighted {
	background-color: red;
}
