<h2>Register</h2>

<form (ngSubmit)="registerUser()">
	<input type="text" name="username" required [(ngModel)]="username">
	<input type="password" name="password" required [(ngModel)]="password">
	<input type="password" name="confirm" required [(ngModel)]="confirm">

	<input type="submit" value="Register">
</form>
